{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
       <h1 class="page-header text-center mb-5">Comments list</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Body</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td><a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.id }}</a></td>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.body }}</td>
                    <td>
                        <ul class="list-group" style="list-style: none;">
                            <li class="list-item">
                                <a href="{{ path('comment_show', { 'id': comment.id }) }}">show</a>
                            </li>
                            <li class="list-item">
                                <a href="{{ path('comment_edit', { 'id': comment.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>    
   </div>
    

<!--
    <ul>
        <li>
            <a href="{{ path('comment_new') }}">Create a new comment</a>
        </li>
    </ul>
-->
{% endblock %}
