{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        
    <h1 class="page-header mb-4 text-center">Blogpost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blogPost.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blogPost.title }}</td>
            </tr>
            <tr>
                <th>Dateadded</th>
                <td>{% if blogPost.dateAdded %}{{ blogPost.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Post</th>
                <td>{{ blogPost.post }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary ml-2" href="{{ path('blog_index_public') }}">Back to the list</a>

    
    <h3 class="page-header mb-4 mt-4 text-center">Comments</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary ml-2" type="submit" value="Create" />
    {{ form_end(form) }}
    
    <p class="ml-2 mt-5">{{ comments|length }} comments.</p>
    <table class="table">
        <tbody>
            {% for comment in comments %}
                <tr>
                    <td>
                        {{ comment.author }}
                    </td>
                    <td>
                        {{ comment.body }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>

{% endblock %}

