{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    
    <h1 class="page-header text-center mb-4">Blogpost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blogPost.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blogPost.title }}</td>
            </tr>
            <tr>
                <th>Post</th>
                <td>{{ blogPost.post }}</td>
            </tr>
            <tr>
                <th>Dateadded</th>
                <td>{% if blogPost.dateAdded %}{{ blogPost.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-group" style="list-style: none;display: inline-block;">
        <li style="display: inline-block;">
            <a class="btn btn-primary" href="{{ path('blog_index') }}">Back to the list</a>
        </li>
        <li style="display: inline-block;">
            <a class="btn btn-warning" href="{{ path('blog_edit', { 'id': blogPost.id }) }}">Edit</a>
        </li>
        <li style="display: inline-block;">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
     
    <h3 class="page-header mb-4 mt-4 text-center">Comments</h3>
    <p class="ml-2 mt-5">{{ comments|length }} comments</p>  
    <table class="table"> 
        <tbody>
            <tr>
                
            </tr>
            {% for comment in comments %}
                <tr>
                    <td>
                        {{ comment.author }}
                    </td>
                    <td>
                        {{ comment.body }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
       
    </div>
    
{% endblock %}
